{#
/**
 * @file
 * Theme override for Menu footer block.
 */
#}
{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'menu-footer-wrapper',
]
%}
{% set title_classes = ['menu-footer__title'] %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass(title_classes) }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {#{{ content }}#}
    <div class="container">
      <div class="d-flex flex-column flex-lg-row align-items-center">
        <div class="col-lg-3 w-sm-100 p-3">
          <div class="mb-3">
            <img src="/{{ directory }}/images/newlogo.png" class="footer-logo" alt="SCV Distribution">
          </div>
          <div class="small mr-4 mt-3">SCV Distribution is a professional and consumer audio distribution company with a strong and ever-expanding network of highly-trained retailer partners.</div>
          <div class="small mr-4 mt-5">Copyright &copy; {{ 'now' | date('Y') }} SCV Distribution</div>
        </div>
      <div id="footer-menus" class="w-100 p-3">
        <div id="social-media-menu">
          <h6 class="border-bottom">Follow Us</h6>
          <div class="mb-4 mt-3">
            <a href="https://facebook.com/scvdistribution" class="text-decoration-none">
              <img src="/{{ directory }}/images/social/facebook.svg" alt="SCV Facebook" class="social">
            </a>
            <a href="https://twitter.com/scvdistribution" class="text-decoration-none">
	      <img src="/{{ directory }}/images/social/x.png" alt="SCV Twitter" class="social">
            </a>
            <a href="https://instagram.com/scvdistribution" class="text-decoration-none">
              <img src="/{{ directory }}/images/social/insta.svg" alt="SCV Instagram" class="social">
            </a>
            <a href="https://youtube.com/scvdistribution" class="text-decoration-none">
              <img src="/{{ directory }}/images/social/youtube.svg" alt="SCV YouTube" class="social">
            </a>
          </div>
        </div>
        <div class="row row-cols-2 row-cols-md-2 row-cols-lg-4">
          <div class="col">
            <h4>Pro Audio</h4>
            <ul class="list-unstyled">
              <li><a class="link-light" href="/pro-audio/focal/">Focal</a></li>
              <li><a class="link-light" href="/pro-audio/audix/">Audix</a></li>
              <li><a class="link-light" href="/pro-audio/isoacoustics/">IsoAcoustics</a></li>
              <li><a class="link-light" href="/pro-audio/bricasti-design/">Bricasti</a></li>
              <li><a class="link-light" href="/pro-audio/spl/">SPL</a></li>
            </ul>
          </div>
          <div class="col">
            <h4>Home Audio</h4>
            <ul class="list-unstyled">
              <li><a class="link-light" href="/home-audio/meze-audio/">Meze</a></li>
              <li><a class="link-light" href="/home-audio/isoacoustics/">IsoAcoustics</a></li>
              <li><a class="link-light" href="/home-audio/benchmark/">Benchmark</a></li>
              <li><a class="link-light" href="/home-audio/manley-labs/">Manley Labs</a></li>
              <li><a class="link-light" href="/home-audio/triangle/">Triangle</a></li>
            </ul>
          </div>
          <div class="col">
            <h4>Installed Audio</h4>
            <ul class="list-unstyled">
              <li><a class="link-light" href="/installed-audio/audix/">Audix</a></li>
              <li><a class="link-light" href="/installed-audio/triangle/">Triangle</a></li>
            </ul>
          </div>
          <div class="col">
            <h4>Company</h4>
            <ul class="list-unstyled">
              <li><a class="link-light" href="/contact/">Contact</a></li>
              <li><a class="link-light" href="/about-us/">Who we are</a></li>
              <li><a class="link-light" href="/privacy-policy/">Privacy Policy</a></li>
              <li><a class="link-light" href="/terms/">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
          </div>

  {% endblock %}
</div>
